In [7]:
import pandas as pd

filename = 'teste.xlsx'
xl = pd.read_excel(filename)
xl

    fx   fy  fxy
0  100  100    0
1    0    0  100