# Eurocode 2 - Structural Concrete

This project has a set of tools to deal with Eurocode 2 design rules<br/><br/>
[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/pcachim/concrete/master?urlpath=lab%2Ftree%2Fec2-base.ipynb)<br/>

## Material properties

Concrete

* [Basic properties](./ec2-material.ipynb)
* [Creep](./ec2-creep.ipynb)
* [Shrinkage](./ec2-shrinkage.ipynb)

Steel

* Reinforcing steel
* Prestressing steel

## Structural sections

* [Axial force](./ec2-axial.ipynb)
* [Bending](./ec2-vigas.ipynb)

## JSON database file

A [database](./eurocodes.json) containing information regarding the properties of Eurocode materials, loads and sections.

In [1]:
import math
import json
import pandas as pd

In [2]:
f = open("eurocodes.json", "r")
database = json.loads(f.read())
concs = database["Eurocodes"]["Materials"]["Concrete"]
reinfs = database["Eurocodes"]["Materials"]["Reinforcement"]
prestr = database["Eurocodes"]["Materials"]["Prestress"]

In [3]:
ec2db = pd.DataFrame.from_dict(concs["Classes"])
ec2db

,C20/25,C25/30,C30/37,C35/45,C40/50,C45/45,C50/55,C55/67,C60/75,C70/85
fck,20.0,25.0,30.0,35.0,40.0,45.0,50.0,55.00,60.0,70.00
fcm,28.0,33.0,38.0,43.0,48.0,53.0,58.0,63.00,68.0,78.00
fctm,2.2,2.6,2.9,3.2,3.5,3.8,4.1,4.20,4.4,4.60
fctk05,1.5,1.8,2.0,2.2,2.5,2.7,2.9,3.00,3.1,3.20
Ecm,30000.0,31000.0,33000.0,34000.0,35000.0,36000.0,37000.0,38000.00,39000.0,41000.00
epsc2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.20,2.3,2.40
epscu2,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.10,2.9,2.70
n,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.75,1.6,1.45

In [4]:
ec2db = pd.DataFrame.from_dict(reinfs["Classes"])
ec2db

         A500EL    A400NR    A500NR A400NR SD A500NR SD
T             A         B         B         C         C
fyk       500.0     400.0     500.0     400.0     500.0
epsuk      25.0      50.0      50.0      75.0      75.0
ftk       525.0     432.0     525.0     460.0     575.0
Es     200000.0  200000.0  200000.0  200000.0  200000.0